[submodule "jfleg"]
	path = jfleg
	url = https://github.com/keisks/jfleg.git
[submodule "m2scorer"]
	path = m2scorer
	url = https://github.com/nusnlp/m2scorer.git
[submodule "gector"]
	path = gector
	url = https://github.com/grammarly/gector.git
